@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

#wrap {
  min-width: 800px;
  width: 800px;
  margin: 0 auto;
}

div img {
  width: 100%;
  display: block;
}

.title {
  text-align: center;
  padding-top: 50px;
}

.title h2 {
  margin-bottom: 10px;
}

/* swiper */
#cardnews_wrap {
  position: relative;
  height: 600px;
}

.swiper {
  margin: 60px auto;
  width: 540px;
  height: 675px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #fff;
}



.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}